@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: [#C92071];
  --color-secondary: [#4F4F4F];
  --color-tertiary: [#F2F2F2];
  --color-quaternary: [#F7F7FC];  
  --font-inter: "Inter", "sans-serif";
}